@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
}

.header-1 {
  background-color: #F8F4E1;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 70px;
  gap: 50px;
}

.nav-links a {
  color: #543310;
  font-size: 25px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #E6D9C1;
}

.fa-solid {
  color: #543310;
}

.nav-links a .fa-solid:hover {
  color: #E6D9C1;
}

.file-svg:hover rect {
  stroke: #E6D9C1;
}

.file-svg:hover path {
  stroke: #E6D9C1;
}

.menu-icon {
  display: none;
}

/* Style for mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }

  .menu-icon {
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
  }

  .nav-links.active {
    display: flex;
  }
}

/* Top ban chay */
.product{
    margin-left: 80px;
}
.card-img-top{
    padding: 20px 0px 10px 20px;
    object-fit: cover;
    height: 280px;
    width: 95%;
}
.card {
    margin-top: 20px;
    width: 85%;
    height: 400px;
    background-color: #F8F4E1;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 13px;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: scale(1.05);
}
.card-title{
    color: #543310;
    display: flex;
    justify-content: center;
}
.text-center{
    font-size: 45px;
    font-weight: 500;
    color:#543310;
}


/* Danh muc san pham */
.product2{
    display: flex;
    margin-left: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-item{
    margin-left: 35px;
}
li{
    list-style-type: none;
}
.card-title1{
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #9f703f;
}
.card-title1:hover{
    background-color: #E6D9C1;
    color: #74512D;
}
.card-title1.active {
    background-color: #E6D9C1;
    color: #74512D;
}
.btn-add-to-cart {
    margin-left: 250px;
    display: inline-flex;
    border: none;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color:#F8F4E1; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}

.btn-add-to-cart:hover {
    background-color:#E6D9C1; 
    transform: scale(1.05); 
}

.btn-add-to-cart:active {
    background-color:#9f703f; 
    transform: scale(0.9); 
}

.btn-add-to-cart i {
    font-size: 20px; /* Kích thước icon */
}



/* FOOTER */
.logo-footer {
    width: 200px;
    height: 200px;
    /* text-align: center; */
}

.link-footer {
    text-decoration: none;
    color: #543310;
    font-size: 20px;
}

.link-footer:hover {
    color: #E6D9C1;
}

.text {
    color: #543310;
    font-size: 20px;
}

.name-coffee {
    color: #543310;
    font-size: 28px;
}

.text-center.text-footer {
    padding: 10px 0;
}

.backround-footer {
    background-color: #F8F4E1;
}

.text-final {
    font-size: 20px;
}

/* animation */
.flying-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1000;
  pointer-events: none;
  transition: all 0.8s ease;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}